<div class="container">
   
      <%= form_for @category do |f| %>
        <div class="form-group">

        </div>
        <div class="form-group boots">
          <%= f.label :Edit %>
            </label>

        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">
            <%= f.text_field :name, placeholder: "Edit your Category" %>
          </label>
        </div>

        <%= f.submit%>
          <% end %>
    
    <%= link_to 'Home' , category_index_path %>
      <%= link_to 'Logout' , destroy_user_session_path, method: :delete %>

  </div>
</div>